<style>

.hero-container {
    background-image: url({{ section.settings.hero_desktop | img_url: 'master' }});
}

@media screen and (max-width: 801px) {
    .hero-container {
        background-image: url(none);
    }    
}
</style>

<div class="hero-container">
    <div class="text-container">
        {% if section.settings.hero_main_text %}
            <h1>{{ section.settings.hero_main_text }}</h1>
        {% endif %}
        {% if section.settings.hero_sub_text %}
            <div class="hero-subtext">{{ section.settings.hero_sub_text }}</div>
        {% endif %}
        
        {% if section.settings.have_btn %}
            <div class="btn-container">

                {% if section.settings.hero_btn_extra_text %}
                    <div class="her-btn-extra-txt">{{ section.settings.hero_btn_extra_text }}</div>
                {% endif %}

                <a class="desktop" href="{{ section.settings.btn_link }}" target="_blank">
                    {{ section.settings.hero_btn_txt }}
                </a>
                <a class="mobile" href="{{ section.settings.btn_link }}" target="_blank">
                    Shop Dream Light
                </a>
            </div>
        {% endif %}
    </div>
    <div class="mobile-background"></div>
    {% if section.settings.hero_mobile %}
        <img class="mobile" src="{{ section.settings.hero_mobile | img_url: 'master'}}">
    {% endif %}
</div>

{% schema %}
    {
        "name": "Jared Hero",
        "settings": [
            {
                "type": "image_picker",
                "id":"hero_desktop",
                "label": "Desktop Hero Image"
            },
            {
                "type": "image_picker",
                "id": "hero_mobile",
                "label": "Mobile Hero Image"
            },
            {
                "type": "text",
                "id": "hero_main_text",
                "label": "Main Hero Text"
            },
            {
                "type": "text",
                "id": "hero_sub_text",
                "label": "Hero Sub Text"
            },
            {
                "type":"checkbox",
                "id":"have_btn",
                "default": true,
                "label":"Homepage button?"
            },
            {
                "type": "text",
                "id": "hero_btn_txt",
                "label": "Hero Button Main Text"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Hero Button Link"
            },
            {
                "type": "text",
                "id": "hero_btn_extra_text",
                "label": "Hero Extra Extra Text"
            }
        ]
    }
{% endschema %}